@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url("./var.css");
@import url("./media.css");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100vw;
  height: 100vh;
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Outfit';
  color: var(--color-paragraph);
}
.grid{
  display: grid;
  grid-template-columns: repeat(3, 300px);
}
.grid_item_1{
  background-color: var(--color-orange);
  border-radius: 8px 0 0 8px;
}
.grid_item_2{
  background-color: var(--color-cyan);
}
.grid_item_3{
  background-color: var(--color-dark-cyan);
  border-radius: 0 8px 8px 0;
}
.grid_information{
  font-size: 15px;
  line-height: 1.5;
  padding: 3.6rem;
}
.title{
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 0;
}
.paragraph{
  font-weight: 400;
}
.btn{
  background-color: var(--color-white);
  border-radius: 20px;
  border: none;
  margin-top: 5rem;
  padding: 12px 36px;
  font-weight: 400;
}
.btn:hover{
  background-color: transparent;
  border: 2px solid var(--color-white);
  color: var(--color-white);
  cursor: pointer;
}
.btn_more_orange{
  color: var(--color-orange);
}
.btn_more_cyan{
  color: var(--color-cyan);
}
.btn_more_dark{
  color: var(--color-dark-cyan);
}